<div class="container shadow-lg p-3 mb-5 bg-white rounded" style="margin-top: 100px;border-width: 3px;">
  <div id="header" class="row">
    <div id="h1" class="col-md-8" style="background-color: #082f71; width: 1153px; height: 120px;">
      <h1 style="color: #ffff; margin-top:20px ">Nomenclature Legal Form</h1>
      <button type="button" class="btn float-right"
              style="margin-left: 1090px;background-color: #355063;font-size: 20px; color: white">X</button>
    </div>

  <form style="margin-bottom: 20px;margin-top: 20px;" [formGroup]="newForm">
    <div class="form-group">
      <div class="row">
        <div class="col-md-6">
          <label >Legal Form</label>
          <input type="text"  formControlName="legalForm" name="legalForm"
                 class="form-control" minlength="1" maxlength="128"
                 pattern="([A-Z]|[a-z]|[0-9]|@|&|\(|\)|\-|\+|:|\s|\.)*$"
                 (ngModelChange)="onTranslate($event)" required>

        </div>
        <div class="col-md-6">
          <label>Legal Form full description</label>
          <input type="text"  [(ngModel)]="user.legalFromFullDescription" name="legalFromFullDescription"
                 class="form-control" minlength="1" maxlength="1024"
                 pattern="([A-Z]|[a-z]|[0-9]|@|&|\(|\)|\-|\+|:|\s|\.)*$"
                 #legalFromFullDescription="ngModel"
                 required>
        </div>
      </div>
      <div class="row" style="margin-bottom: 10px">
        <div class="col-md-6">
          <label>Legal Form full description</label>
          <input type="text" formControlName="legalFormEN" name="legalForm"
                 class="form-control" minlength="1" maxlength="128"
                 pattern="([A-Z]|[a-z]|[0-9]|@|&|\(|\)|\-|\+|:|\s|\.)*$"
                 required>
        </div>
        <div class="col-md-6">
          <label>Legal Form full description(transliterated)</label>
          <input type="text" [(ngModel)]="user.legalFromFullDescription" name="legalFromFullDescription"
                 class="form-control" minlength="1" maxlength="1024"
                 pattern="([A-Z]|[a-z]|[0-9]|@|&|\(|\)|\-|\+|:|\s|\.)*$"
                 #legalFromFullDescription="ngModel" required>
        </div>
      </div>

<!--      Create Multiple Div's-->
      <div *ngFor="let div of divs; let i = index">
        <button class="btn btn-danger btn-circle"(click)="deleteDiv(i)" style="margin-left: 1109px">-</button>
        <div class="row">
          <div class="col-md-6">
            <label>Legal Form full description</label>
            <input type="text" [(ngModel)]="user.legalForm" name="legalForm"
                   class="form-control" minlength="1" maxlength="128"
                   pattern="([A-Z]|[a-z]|[0-9]|@|&|\(|\)|\-|\+|:|\s|\.)*$"
                    required>
          </div>
          <div class="col-md-6">
            <label>Legal Form full description(transliterated)</label>
            <input type="text" [(ngModel)]="user.legalFromFullDescription" name="legalFromFullDescription"
                   class="form-control" style="margin-bottom: 10px" minlength="1" maxlength="1024"
                   pattern="([A-Z]|[a-z]|[0-9]|@|&|\(|\)|\-|\+|:|\s|\.)*$"
                    required>
          </div>
        </div>
      </div>

<!--      Add Button-->
      <div class="row">
        <div class="col-md-6">
          <button type="button" class="btn float-right" id="add-btn"
                  style="margin-left: 1108px;background-color: #0471bb;color: white;font-size: 15px"
                  (click)="addDiv()">+</button>
        </div>
      </div>

<!--        Error Messages-->
<!--      <div *ngIf="legalForm?.errors && (legalForm.dirty || legalForm.touched)" class="alert">-->
<!--        <div *ngIf="legalForm?.errors?.['required']">-->
<!--          Field is required-->
<!--        </div>-->
<!--        <div *ngIf="legalForm?.errors?.pattern">-->
<!--          Invalid Legal form-->
<!--        </div>-->
<!--        <div *ngIf="legalForm?.errors?.minlength">-->
<!--          Minimum length of 1 required-->
<!--        </div>-->
<!--        <div *ngIf="legalForm?.errors?.maxlength">-->
<!--          Maximum length of 128 exceeded-->
<!--        </div>-->
<!--      </div>-->

<!--        check Boxes-->
      <div class="row form-group form-check" style="margin-left: 3px;">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1" style="margin-right: 10px">Inactive</label>
        <input type="checkbox" class="form-check-input" id="exampleCheck2">
        <label class="form-check-label" for="exampleCheck2">Default</label>
      </div>
    </div>
    <div class="row">
<!--    Save and Cancel Buttons-->
    </div>
    <button type="Save" class="btn btn-success btn-primary"
            style="margin-right: 10px;width: 100px;height: 50px;">Save</button>
    <button type="Cancer" class="btn btn-secondary"
            style="width: 100px;height: 50px;">Cancer</button>
  </form>
</div>

<!--  pattern="[A-Z0-9@&\(\)+\-:.,№\s]*$"-->
<!--  [ngModelOptions]="{standalone: true}"-->
<!--  (ngModelChange)="user.legalForm = $event | transliteration"-->
